.show {
    display: block;
}

.hide {
    display: none;
}

.modal {
    position: absolute;
    z-index: 11;
    min-width: 400px;
    height: auto;
    border-radius: 24px;
    background-color: white;
    margin: 0 auto;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 5px 10px 8px #888888;
}
